* {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 10%;
}

#clock {
  font-size: 168px;
  text-align: left;
  margin-left: 45%;
}

#total {
  text-align: right;
  margin-right: 60px;
}

#img {
  margin-left: auto;
  margin-right: auto;
}
